<a href="https://colab.research.google.com/github/alfinmaulani/skripsi2/blob/main/gabung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import array

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
korpusfake='/content/drive/MyDrive/valid fake news/Fake.csv'
dffake=pd.read_csv(korpusfake)
# df.columns=['teks']

In [3]:
korpustrue='/content/drive/MyDrive/valid fake news/True.csv'
dftrue=pd.read_csv(korpustrue)
# df.columns=['teks']

In [7]:
temp=[]

In [8]:
temp.extend(dffake.text)

In [9]:
len(temp)

23481

In [10]:
nol =array.array('i',(0,)*len(temp))

In [11]:
len(nol)

23481

In [17]:
temp2=[]

In [18]:
temp2.extend(dftrue.text)

In [19]:
len(temp2)

21417

In [20]:
satu =array.array('i',(1,)*len(temp2))

In [21]:
len(satu)

21417

In [23]:
zipped = list(zip([temp,temp2], [nol,satu]))

dfgabung = pd.DataFrame(zipped, columns=['text','class'])

# dfgabung= pd.DataFrame(columns=['text','class'])

In [24]:
dfgabung

,text,class
0,[Donald Trump just couldn t wish all Americans...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,[WASHINGTON (Reuters) - The head of a conserva...,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."

In [ ]:
df.to_csv(r'beritapalsugabung.csv', index = False)