<a href="https://colab.research.google.com/github/alfinmaulani/skripsi2/blob/main/gabung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import array

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [2]:
korpusfake='/content/drive/MyDrive/valid fake news/Fake.csv'
dffake=pd.read_csv(korpusfake)
# df.columns=['teks']

In [3]:
korpustrue='/content/drive/MyDrive/valid fake news/True.csv'
dftrue=pd.read_csv(korpustrue)
# df.columns=['teks']

In [4]:
temp=[]

In [5]:
temp.extend(dffake.text)

In [6]:
len(temp)

23481

In [7]:
nol =array.array('i',(0,)*len(temp))

In [8]:
len(nol)

23481

In [9]:
temp2=[]

In [10]:
temp2.extend(dftrue.text)

In [11]:
len(temp2)

21417

In [12]:
satu =array.array('i',(1,)*len(temp2))

In [13]:
len(satu)

21417

In [14]:
zipped = list(zip(temp, nol))

dffakebaru = pd.DataFrame(zipped, columns=['text','class'])

In [16]:
dffakebaru

                                                    text  class
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      0
23477  21st Century Wire says It s a familiar theme. ...      0
23478  Patrick Henningsen  21st Century WireRemember ...      0
23479  21st Century Wire says Al Jazeera America will...      0
23480  21st Century Wire says As 21WIRE predicted in ...      0

[23481 rows x 2 columns]

In [15]:
zipped = list(zip(temp2, satu))

dftruebaru = pd.DataFrame(zipped, columns=['text','class'])

In [17]:
dftruebaru

                                                    text  class
0      WASHINGTON (Reuters) - The head of a conservat...      1
1      WASHINGTON (Reuters) - Transgender people will...      1
2      WASHINGTON (Reuters) - The special counsel inv...      1
3      WASHINGTON (Reuters) - Trump campaign adviser ...      1
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      1
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[21417 rows x 2 columns]

In [23]:
frames = [dffakebaru, dftruebaru]
dfgabung=pd.concat(frames,index=False)

TypeError: ignored

In [21]:
dfgabung

                                                    text  class
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [ ]:
dfgabung.to_csv(r'beritapalsugabung.csv', index = False)