<a href="https://colab.research.google.com/github/alfinmaulani/skripsi2/blob/main/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import array

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [3]:
korpusfake='/content/drive/MyDrive/valid fake news/Fake.csv'
dffake=pd.read_csv(korpusfake)
# df.columns=['teks']

In [4]:
korpustrue='/content/drive/MyDrive/valid fake news/True.csv'
dftrue=pd.read_csv(korpustrue)
# df.columns=['teks']

In [5]:
dffake.iloc[0,1]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [6]:
dffake.iloc[:,1]

0        Donald Trump just couldn t wish all Americans ...
1        House Intelligence Committee Chairman Devin Nu...
2        On Friday, it was revealed that former Milwauk...
3        On Christmas day, Donald Trump announced that ...
4        Pope Francis used his annual Christmas Day mes...
                               ...
23476    21st Century Wire says As 21WIRE reported earl...
23477    21st Century Wire says It s a familiar theme. ...
23478    Patrick Henningsen  21st Century WireRemember ...
23479    21st Century Wire says Al Jazeera America will...
23480    21st Century Wire says As 21WIRE predicted in ...
Name: text, Length: 23481, dtype: object

In [7]:
temp=[]

In [8]:
temp.extend(dffake.text)

In [9]:
len(temp)

23481

In [10]:
nol =array.array('i',(0,)*len(temp))

In [11]:
len(nol)

23481

In [12]:
dffaketext=pd.DataFrame(temp)
dffakelabel=pd.DataFrame(nol)
result = pd.concat([dffaketext, dffakelabel], axis=1)

In [13]:
np.shape(result)

(23481, 2)

In [14]:
result

                                                       0  0
0      Donald Trump just couldn t wish all Americans ...  0
1      House Intelligence Committee Chairman Devin Nu...  0
2      On Friday, it was revealed that former Milwauk...  0
3      On Christmas day, Donald Trump announced that ...  0
4      Pope Francis used his annual Christmas Day mes...  0
...                                                  ... ..
23476  21st Century Wire says As 21WIRE reported earl...  0
23477  21st Century Wire says It s a familiar theme. ...  0
23478  Patrick Henningsen  21st Century WireRemember ...  0
23479  21st Century Wire says Al Jazeera America will...  0
23480  21st Century Wire says As 21WIRE predicted in ...  0

[23481 rows x 2 columns]

In [15]:
temp2=[]

In [16]:
temp2.extend(dftrue.text)

In [17]:
len(temp2)

21417

In [18]:
satu =array.array('i',(1,)*len(temp2))

In [19]:
len(satu)

21417

In [20]:
dftruetext=pd.DataFrame(temp2)
dftruelabel=pd.DataFrame(satu)
result2 = pd.concat([dftruetext, dftruelabel], axis=1)

In [21]:
np.shape(result2)

(21417, 2)

In [22]:
result2

                                                       0  0
0      WASHINGTON (Reuters) - The head of a conservat...  1
1      WASHINGTON (Reuters) - Transgender people will...  1
2      WASHINGTON (Reuters) - The special counsel inv...  1
3      WASHINGTON (Reuters) - Trump campaign adviser ...  1
4      SEATTLE/WASHINGTON (Reuters) - President Donal...  1
...                                                  ... ..
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...  1
21413  LONDON (Reuters) - LexisNexis, a provider of l...  1
21414  MINSK (Reuters) - In the shadow of disused Sov...  1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...  1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...  1

[21417 rows x 2 columns]

In [ ]:
listfake=result.values.tolist()

In [ ]:
np.shape(listfake)

(23481, 2)

In [ ]:
listtrue=result2.values.tolist()

In [ ]:
np.shape(listtrue)

(21417, 2)

In [ ]:
listgabung=listfake

In [ ]:
np.shape(listgabung)

In [ ]:
listgabung.extend(listtrue)

In [ ]:
df=result.append(result2)

In [ ]:
df

                                                       0  0
0      Donald Trump just couldn t wish all Americans ...  0
1      House Intelligence Committee Chairman Devin Nu...  0
2      On Friday, it was revealed that former Milwauk...  0
3      On Christmas day, Donald Trump announced that ...  0
4      Pope Francis used his annual Christmas Day mes...  0
...                                                  ... ..
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...  1
21413  LONDON (Reuters) - LexisNexis, a provider of l...  1
21414  MINSK (Reuters) - In the shadow of disused Sov...  1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...  1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...  1

[44898 rows x 2 columns]

In [ ]:
df.to_csv(r'beritapalsugabung.csv', index = False)